* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body {
    background-color: var(--bg-primary);
    color: var(--text-light);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}